@import "../../style/variables.scss";
@import "../../style/mixins.scss";

.test {
    margin: 0 auto;
}

.lpuComingSoonH2 {
    @extend %h2Profile;
    color: $pistachio;
    text-align: center;
    margin: 2em auto;
   
}

.lpuComingSoonWrapper {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}