@import "../../style/variables.scss";
@import "../../style/mixins.scss";

.gradient-bg {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: $bg;
  top: 0;
  left: 0;

  .gradient-container {
    
    position: relative;
    .g1 {
    @include bg-circle;
    top: 100px;
    left: -300px;
  }

  .g2 {
    @include bg-circle;
    
    top: 400px;
    right: -150px;
  }

  .g3 {
    @include bg-circle;
    
    top: 1100px;
    left: 200px;
  }
  
  .g4 {
    @include bg-circle;
    
    top: 2000px;
    right: 250px;
    overflow: visible;
  }
}
}

.lpuHeaderWrapper {
  display: flex;
  justify-content: space-around;
  gap: 2em;

  margin: 2em auto;
  width: 70%;

  .statsWrapper {
    border: 2px solid $stone;

    position: relative;
    width: 30%;
    min-height: 500px;
    background-color: $darkGreen;
    border-radius: 20px;
    align-self: center;

    .lpuProfileWrapper {
      margin: 0.5em auto;
      text-align: center;

      width: 50%;

      .lpuProfileContainer {
        img {
          width: 100px;
          border-radius: 50px;
          margin: 0.5em auto;

          border: 4px ridge $antiFlashWhite;
        }
        .lpuUsername {
          @extend %h3Profile;
        }
      }
    }

    .progressWrapper {
      background: linear-gradient(0deg, $darkGreen 0%, #000707 100%);
      border-radius: 50% 50% 0% 0% / 13% 12% 25% 25%;
      height: 50%;

      .progressContainer {
        width: 50%;
        margin: 2em auto;
        padding: 2em 0;

        div {
          margin: .5em 0;
        }

        h3 {
          @extend %h3Profile;
          text-align: center;
        }

        .lpuProgressFlex {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

  .lpuCave {
    background: url("../../assets/images/LandingPageUserBackGround.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 2px solid $stone;

    align-self: center;
    // margin: 2em 0;

    width: 400px;
    height: 600px;
  }
}

.lpuExploreBar {
  background: linear-gradient(220deg, #024636 0%, $richBlack 70%);
  border: 1px solid $darkGreen;
  color: white;
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin: 4em 0;
  z-index: 10;
  position: relative;
  z-index: 2;

  .lpuExploreH2 {
    @extend %h2Profile;
    margin: 0 auto;
  }
}

.lpuInviteWrapper {
  border: 2px solid $stone;
  border-radius: 0% 10% 0% 10% / 40% 30% 40% 30%;
  width: 50%;
  background: $richBlack;
  margin: 4em auto;
  position: relative;
  z-index: 1;

  .lpuInviteContainer {
    width: 50%;
    margin: 2em auto;
    text-align: center;
    position: relative;

    h3 {
      @extend %h2Profile;

      margin-bottom: 0.5em;
    }

    input {
      margin: 2em 1em;
    }
  }
}
