%buttonStyle {
  background: linear-gradient(90deg, #832a9b 0%, #1c0663 100%);
}

%h2Profile {
  font-family: $code-font;
  font-size: 2.5em;
  text-align: center;
}

%h3Profile {
  font-family: $code-font;
  font-size: 1.5em;
  padding: 0.5em 0;
}

@mixin bg-circle {
  position: absolute;
  background: radial-gradient(
    circle,
    $pistachio 0%,
    $bangladeshGreen 10%,
    $richBlack 100%
  );
  border-radius: 50%;
  filter: blur(50px);
  width: 800px;
  height: 800px;
  opacity: 0.5;
}
