@import "../../style/variables.scss";
@import "../../style/mixins.scss";


footer {
    background: linear-gradient(180deg,  $bg 0%, $darkGreen 90%);
    color: white;
    width: 100%;
    min-height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 3rem;
    position: sticky;
    bottom: 0;
    z-index: 20;
    font-size: .9em;

    a {
        display: grid;
        text-align: center;
    }
}